# Auto detect text files and perform LF normalization
* text=auto

# JavaScript
*.js text eol=lf
*.json text eol=lf

# HTML
*.html text eol=lf

# Documentation
*.md text eol=lf

# Images
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

# Archives
*.zip binary
